body {
  background-color: black;
}

#canvasContainer {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden; 
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#retryButton {
  position: absolute;
  top: 0%;
  left: 53.5%;
}

#nextButton {
  position: absolute;
  top: 0%;
  left: 77.5%;
}